{% from 'macros/hms.html' import hms %}
{% from 'macros/vidgrid.html' import vidgrid %}
{% from 'macros/dropdownBuilder.html' import dropdown %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linus Drop Tips - {{ drop.itemName }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="bg-gray-100 font-sans leading-relaxed">
    {% include 'navbar.html' %}
    <!-- Main Content -->
    <main class="py-6 w-full">
        <div class="container px-6 w-full">
            <h3 class="font-bold text-3xl mb-1"> {{ drop.itemName }}</h3>
            <!-- Item Grid -->
            <div class="vidgrid w-full">
                <div class="bg-white rounded-lg shadow-lg grid grid-cols-1 lg:grid-cols-2">
                    <iframe
                        src="https://www.youtube.com/embed/{{ drop.ytId }}?start={{drop.startSeconds}}&amp;rel=0&amp;modestbranding=1"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""
                        class="w-ful object-cover rounded-lg " style="
    width: 100%; max-width: 100vw
"></iframe>

                    <div class="p-4" style="    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    overflow: auto;
">
                        <h2 class="text-lg font-semibold mb-0">{{ drop.itemName }}</h2>
                        <p class="text-gray-600 font-bold">Video: {{
                            drop.videoTitle }} @ {{
                            hms(drop.startSeconds) }}</p>
                        <form action="/madawader/updatedrop" method="get"
                            class="flex flex-col lg:grid lg:grid-cols-2 gap-4">

                            <input type="hidden" name="id" value="{{ drop.id }}">
                            <p class="text-gray-600">Item Name:
                            <input value="{{drop.itemName }}" type="text" name="itemName"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Start Seconds: 
                            <input value="{{drop.startSeconds }}" type="number" name="startSeconds"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Video Title: 
                            <input value="{{drop.videoTitle }}" type="text" name="videoTitle"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">YouTube ID: 
                            <input value="{{drop.ytId }}" type="text" name="ytId"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Verification: {{ {0: "Not verified", 1: "Verified", 2:
                                "Rejected"}.get(drop.verificationStatus,
                                "Other") }}
                            <select name="verificationStatus" id="verificationStatus"
                                class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                {{ dropdown({0: "Not verified", 1: "Verified", 2:"Rejected"}, drop.verificationStatus,
                                False) }}
                            </select></p>
                            <p>
                                <b>Rejection Message</b><br>
                                <textarea name="rejectionNotice"
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
{{ drop.rejectionNotice }}
                            </textarea>
                            </p>
                            <p class="text-gray-600">Video Published: {{drop.videoDate | timestamp_to_time |
                                datetimeformat('%Y-%m-%dT%H:%M:%S%z') }} 
                            <input value="{{drop.videoDate }}" type="number" name="videoDate"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Drop Submitted: {{drop.submitDate | timestamp_to_time |
                                datetimeformat('%Y-%m-%dT%H:%M:%S%z') }}
                            <input value="{{drop.submitDate }}" type="number" name="submitDate"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"> </p>
                            <p class="text-gray-600"> Item Cost: ${{ drop.itemPrice }}
                            <input value="{{drop.itemPrice }}" type="text" name="itemPrice"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Drop Reason: {{ drop.dropReason }} 
                            <input value="{{drop.dropReason }}" type="text" name="dropReason" list="dropReasonList"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Dropped Onto: {{ drop.droppedOnto }}
                            <input value="{{drop.droppedOnto }}" type="text" name="droppedOnto" list="droppedOntoList"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"> </p>
                            <p class="text-gray-600">Resulting Damage: {{ drop.resultingDamage }} 
                            <input value="{{drop.resultingDamage }}" type="text" name="resultingDamage"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></p>
                            <p class="text-gray-600">Approximate Drop Height: {{ drop.approxDropHeight }}
                            <input value="{{drop.approxDropHeight }}" type="text" name="approxDropHeight"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"> </p>
                            <p class="text-gray-600">Item Type: {{ {0: "Not a prop", 1: "Prop", 2:
                                "Sponsored"}.get(drop.itemType, "Other") }} 
                            <select name="itemType" id="itemType" required
                                class="block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                {{ dropdown({"a":"Make selection", 0: "Not a prop", 1: "Prop",
                                2:"Sponsored"},drop.itemType,
                                False) }}
                            </select></p>
                            <p class="text-gray-600">Item Condition (before drop): {{ drop.itemCondition }}
                            <input required="" value="{{ drop.itemCondition }}" list="itemConditionList"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="itemCondition" name="itemCondition" type="text" placeholder="Wooden Floor"> </p>
                            <p class="text-gray-600">Component Type: {{ drop.componentType }} 
                            <input required="" value="{{ drop.componentType }}" list="compTypeList"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="itemCondition" name="componentType" type="text" placeholder="Wooden Floor"></p>
                            <p class="text-gray-600">Submitted by: <a href="/user/{{ drop.submitterID }}">{{
                                    drop.submitterID | getGithub("login") }}</a>
                            <input required="" value="{{ drop.submitterID }}"
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="itemCondition" name="submitterID" type="text" placeholder="Wooden Floor"></p>
                            <p>
                                <b>Description</b>
                            <textarea
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="note" placeholder=":3" name="note">{{ drop.note }}</textarea><br>
                            </p>
                            <button type="submit"
                                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded col-span-2">
                                Submit Drop
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <datalist id="itemConditionList">
        <option value="Brand New">
        <option value="Used">
        <option value="Refurbished">
        <option value="Second Hand Purchase">
        <option value="Unknown">
    </datalist>
    <datalist id="dropReasonList">
        <option value="Fumbled">
        <option value="Fell from surface">
        <option value="Swept from surface">
        <option value="Unknown">
    </datalist>
    <datalist id="droppedOntoList">
        <option value="Carpeted Floor">
        <option value="Concrete">
        <option value="Wooden Floor">
        <option value="Unknown">
    </datalist>
    <datalist id="compTypeList">
        <option value="CPU"></option>
        <option value="GPU"></option>
        <option value="RAM"></option>
        <option value="Storage"></option>
        <option value="Case"></option>
        <option value="PSU"></option>
        <option value="Other Addin"></option>
        <option value="Keyboard"></option>
        <option value="Mouse"></option>
        <option value="Headphone/Earphone"></option>
        <option value="Speaker"></option>
        <option value="Display"></option>
        <option value="Cooling"></option>
        <option value="Projector"></option>
        <option value="Cable"></option>
    </datalist>
    <!-- Footer Section -->
    <footer class="bg-gray-800 text-white py-6">
        <div class="container mx-auto text-center">
            <p>&copy; Lily of sometgirl.online. Made using tailwind and python.</p>
        </div>
    </footer>
</body>

</html>