{% from 'macros/hms.html' import hms %}
{% from 'macros/vidgrid.html' import vidgrid %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linus Drop Tips - Viewing user: {{ username }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="bg-gray-100 font-sans leading-relaxed">
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <main class="py-6 w-full">
        <div class="container px-6 w-full">
            <h3 class="font-bold text-3xl mb-1">{{ userID | getGithub("login") }}'s submissions</h3>
            {% if userIsAuthor %}
                <button class="bg-red-300 p-2 m-2 rounded-md ml-0" onclick="if(confirm('Are you sure you want to log out?')){window.location.href = '/logout'}">Log out</button>
            {% endif %}
            <!-- Item Grid -->
            <div class=" bg-white rounded-lg shadow-lg p-4">
                {{ vidgrid(userDrops, "horizontal", "subgrid", userIsAuthor) }}
            </div>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="bg-gray-800 text-white py-6">
        <div class="container mx-auto text-center">
            <p>&copy; Lily of sometgirl.online. Made using tailwind and python.</p>
        </div>
    </footer>
</body>

</html>