{% from 'macros/hms.html' import hms %}
{% for drop in drops %}
<div class="bg-white rounded-lg shadow-lg">
    <iframe src="https://www.youtube.com/embed/{{ drop.ytId }}?start={{drop.startSeconds}}&amp;enablejsapi=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" class="w-ful object-cover rounded-lg "
        style="
    width: 100%;
"></iframe>

    <div class="p-4" onclick="window.location.href='/drop/{{drop.id}}'">
        <h2 class="text-lg font-semibold mb-0">{{ drop.itemName }}</h2>
        <p class="text-gray-600 font-bold">Video: {{ drop.videoTitle }} @ {{
            hms(drop.startSeconds) }}</p>
        <p class="text-gray-600">Video Published: {{drop.videoDate | timestamp_to_time |
            datetimeformat('%Y-%m-%dT%H:%M:%S%z') }} </p>
        <p class="text-gray-600">Drop Submitted: {{drop.submitDate | timestamp_to_time |
            datetimeformat('%Y-%m-%dT%H:%M:%S%z') }} </p>
        {% if drop.itemPrice is not none %}
        <p class="text-gray-600"> Item Cost: ${{ drop.itemPrice }}</p>
        {% else %}
        <p class="text-gray-600"> Item Cost: Not Listed</p>
        {% endif %}
        <p class="text-gray-600">Submitted by: <a href="/user/{{ drop.submitterID }}">{{ drop.submitterID | getGithub("login") }}</a></p>
    </div>
</div>
{% endfor %}